<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        body {
            font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
        }
        table {
            border-collapse: collapse;
            width: 100%;
        }
        th, td {
            padding: 8px;
            border: 1px solid #ccc;
            text-align: left;
        }
        th {
            background-color: #f4f4f4;
        }
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
</head>
<body>
    <h1>Signup</h1>
    <form action = "/user" method="post">
        <label>Full Name</label>
        <input type = "text" required name="name">
        <label>Email</label>
        <input type = "text" required name="email">
        <label>Password</label>
        <input type = "text" required name="password">
        <button type="submit">Signup</button>
    </form>
</body>
</html>